/docs
.*/
opencode.jsonc
AGENTS.MD
!/docs/AGENTS.MD
.mcp*
!.github/
!.basedpyright/
__pycache__/
*.egg-info/
build/
/plots
.coverage
.coverage.*
coverage.lcov
!roadmap.md
!issues.md
/mutants
setup.cfg